:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button, input {
  outline: none;
  background: none;
  border: none;
}

ul, ol {
  list-style-type: none;
  list-style-position: inside;
}

:root {
  --slide-padding: 6rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: 0.5s ease-in-out;
}
.slider__item {
  flex: 1 0 100vw;
  height: 100vh;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--slide-padding);
  position: relative;
  color: #fff;
}
.slide img {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.6) contrast(1.2);
}

@media (max-width: 1200px) {
  :root {
    --slide-padding: 3rem;
  }
}
@media (max-width: 992px) {
  .slider {
    flex-direction: column;
  }
  .slider__item {
    flex: 0 1 100vh;
  }
}
@media (max-width: 700px) {
  :root {
    --slide-padding: 2rem;
  }
}
@media (max-width: 500px) {
  :root {
    --slide-padding: 1.5rem;
  }
}
.search__form, .statistics, .slide__button {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.slide__header {
  display: flex;
  justify-content: space-between;
}

.slide__title {
  max-width: 50vw;
  word-wrap: break-word;
  font-size: clamp(1.8rem, 2.2rem, 5vw);
}

.slide__subtitle {
  font-size: clamp(1.2rem, 1.5rem, 3vw);
  margin-bottom: 0.5em;
}

.slide__navigation {
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px;
  transition: 0.1s;
}
.slide__navigation:hover {
  transform: scale(1.2);
}

.slide__button {
  padding: 1em;
  position: relative;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
  font-size: clamp(0.5rem, 14px, 1rem);
}

@media (max-width: 992px) {
  .slide__navigation {
    display: none;
  }
}
.statistics {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 1em;
  padding: 2em 3em;
}
.statistics__tile {
  flex: 0 0 min(100px, 25%);
}
.statistics__icon {
  font-size: clamp(1.8rem, 2.5rem, 10vw);
}
.statistics__text {
  margin-top: 0.5em;
  font-size: clamp(1.2rem, 2rem, 5vw);
}

@media (max-width: 770px) {
  .statistics {
    padding: 2em;
  }
}
@media (max-width: 650px) {
  .statistics {
    padding: 1em;
  }
}
.search {
  padding-top: var(--slide-padding);
}
.search__form {
  width: min(600px, 90%);
  overflow: hidden;
  margin: 0 auto;
}
.search__input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 1em;
  color: #fff;
  font-family: inherit;
}

.search__results {
  max-height: 50vh;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  scrollbar-width: thin;
}
.search__results li {
  color: #ddd;
  font-size: 1rem;
  padding: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s;
  cursor: pointer;
}
.search__results li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.search__results::-webkit-scrollbar {
  width: 0.5rem;
}
.search__results::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
