@use "../abstracts";


.slide__header {
	display: flex;
	justify-content: space-between;
}

.slide__title {
	max-width: 50vw;
	word-wrap: break-word;
	font-size: clamp(1.8rem, 2.2rem, 5vw);
}

.slide__subtitle {
	font-size: clamp(1.2rem, 1.5rem, 3vw);
	margin-bottom: .5em;
}

.slide__navigation {
	color: #fff;
	font-size: 1.2rem;
	cursor: pointer;
	padding: 5px;
	transition: .1s;

	&:hover{
		transform: scale(1.2);
	}
}


.slide__button {
	padding: 1em;
	position: relative;
	overflow: hidden;

	color: #fff;
	cursor: pointer;

	font-size: clamp(.5rem, 14px, 1rem);

	@extend %glass;
}


@media (max-width: 992px) {
	.slide__navigation {
		display: none;
	}
}